@import "colors";

.ghx-swimlane-header:after,
.ghx-heading:after,
.ghx-issue .ghx-end,
.ghx-swimlane-header:hover,
.ghx-heading:hover,
.ghx-issue .ghx-end:hover,
#ghx-pool > div.ghx-swimlane > ul > li > div:hover .ghx-end,
.ghx-issue,
.ghx-issue.ghx-selected .ghx-end {
    background-color: transparent;
    box-shadow: none;
}

.ghx-column.ui-sortable {
    background: $brighterSecondary !important;
}

#ghx-pool {
    background: inherit;
}

#ghx-column-headers .ghx-column,
#ghx-column-headers .ghx-column * {
    background: $brighterSecondary !important;
    border: none;
    color: $primary;
}

#ghx-header {
    margin: 0;
}

.ghx-column-headers .ghx-column,
.ghx-columns .ghx-column {
    background: $brighterSecondary;
}

.ghx-flagged * {
    background-color: $warning;
}

.ghx-columns .ghx-busted,
.ghx-columns .ghx-busted-max {
    background: $warning !important;
}
