@import "colors";

.ghx-backlog-header,
.ghx-end {
    background: $brightSecondary !important;
    color: $primary !important;
}

.aui-badge {
    background: $primary !important;
    color: $brightSecondary !important;
}

.ghx-everything-else {
    background: $brightSecondary !important;
}
