@import "colors";

.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a,
.aui-navgroup-vertical .aui-nav .aui-nav-selected a,
.aui-nav-vertical .aui-nav .aui-nav-selected a,
.aui-nav-selected > a {
    color: $brightestHighlight !important;
}

h1,
h2,
h3,
h4 {
    color: $brighterHighlight !important;
}

.user-content-block h1,
.user-content-block h2,
.user-content-block h3,
.user-content-block h4,
.user-content-block h5,
.user-content-block h6,
.user-content-block:hover h1,
.user-content-block:hover h2,
.user-content-block:hover h3,
.user-content-block:hover h4,
.user-content-block:hover h5,
.user-content-block:hover h6 {
    color: $userHeader !important;
}
