@import "colors";

html,
body header nav.aui-header,
body header nav.aui-header *:not(.jira-feedback-plugin-icon) {
    background: $black;
}

.ghx-header *,
.issue-header-content,
.aui-page-header *,
.command-bar,
.toggle-title,
.saved-search-selector,
.saved-search-selector *,
.navigator-search {
    background: $brightSecondary !important;
    color: $primary !important;
}
