@import "colors";

html,
body header nav.aui-header,
body header nav.aui-header *:not(.jira-feedback-plugin-icon),
body header.aui-page-panel-nav {
    background: $black;
}

.ghx-header *,
.issue-header-content,
.aui-page-header *,
.command-bar,
.toggle-title,
.saved-search-selector,
.saved-search-selector *,
.navigator-search,
.aui-dropdown2,
.aui-page-panel-nav {
    background: $brightSecondary !important;
    color: $primary !important;
}
