@import "icons";
@import "colors";
@import "input";
@import "syntax";
@import "agile";
@import "backlog";
@import "ticket";
@import "header";
@import "sidebar";
@import "fonts";
@import "footer";
@import "popups";
@import "gadgets";

.content-container,
.bf-gs-content,
.bf-gs-section,
* {
    background: $brightSecondary;
    color: $primary;
    text-shadow: none !important;
    box-shadow: none !important;
}

.aui-dropdown2:hover,
.aui-dropdown2.aui-style-default a {
    background: $brightSecondary !important;
    color: $primary !important;
}

.aui-dropdown2 li:hover,
.aui-dropdown2 li *:hover {
    background: $brighterSecondary !important;
}