@import "colors";

.aui-sidebar-wrapper,
#content .aui-page-panel-nav .tabs.vertical strong {
    background: $brightSecondary !important;
    color: $brightestHighlight !important;
}

#content .aui-page-panel-nav .tabs.vertical a:focus,
#content .aui-page-panel-nav .tabs.vertical a:hover,
#content .aui-page-panel-nav .tabs.vertical a:focus *,
#content .aui-page-panel-nav .tabs.vertical a:hover * {
    background: $brighterSecondary !important;
}